

/* Navbar */


.bgLight {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}

.WHimg {
    width: 18px;
    height: 12px;
}


.navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  
  .size1 {
    flex: 1 1 auto; 
    min-width: 120px;
    margin-left: 1rem;
  }
  
  
  .size2, .size3 {
    flex: 0 0 auto; 
    width: 40px;    
    text-align: center;
  }
  
  
  .size4 {
    flex: 0 1 auto; 
    white-space: nowrap; 
    font-size: 14px; 
  }
  
  
  @media (max-width: 400px) {
    .size4 {
      display: none; 
    }
  }




/* dasboard */


/* Sidebar */

.img {
    width: 20px;
    height: 20px;
}



.pm {
    margin: 10px;
    padding: 10px;
}

.lowRed {
    background: #FFF3F4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

/* Actual Dashboard */

.img2 {
    width: 40px;
    height: 40px;
}


.fontStyle1 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    /* font: normal normal 500 30px/39px Roboto; */
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.marginEnd {
    margin-right: 7vw;
}

.s1 {
    text-align: left;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.s2 {
    font-size: 15px;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.graphText {
    font-size: 22px;
    font-weight: 500;
}

.w802 {
    width: 802px;
    height: 400px;
}


.round {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 8px;
}

.r {
    background-color: #C8242F;
}

.g {
    background-color: #A2B86C;
}

.o {
    background-color: #F16C20;
}

.y {
    background-color: #EBC844;
}

.weekMonth {
    font-size: 12px;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

.year {
    text-decoration: underline #C8242F;
    font-size: 12px;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    color: #C8242F;
}

.invoice {
    font-weight: 700;
    font-size: 22px;
    font-family: Roboto;
    ;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}


.view {

    font-family: Roboto;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}


.tableHead {
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 1.5px;
    color: #ADADAD;
    opacity: 1;
}

.tableRow {
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

#textPaid{
    color:#3CDD5F;
}

#textFail{
    color: #FF4545;
}

#textPending{
    color: #BABABA;
}


@media (min-width: 768px) {
    #collapseExample {
        display: block !important;
        height: auto !important;
        visibility: visible !important;
    }

    #sidebar-toggle {
        pointer-events: none;   
        opacity: 0.5;           
    }
}


@media (max-width: 767.98px) {
    #sidebar-toggle {
        pointer-events: auto;
        opacity: 1;
    }
}


@media (max-width: 767.98px) {
    .bgColor {
        width: 100%;
    }
}




/* Basic styles for the container and text */
.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .invoice {
    font-size: 18px;
    font-weight: bold;
  }
  
  .view {
    font-size: 14px;
    color: #C8242F;
    cursor: pointer;
  }
  
  /* Responsive styling for smaller screens */
  @media (max-width: 360px) {
    .detail {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .invoice {
      font-size: 16px; /* Smaller font size for the title */
      margin-bottom: 5px; /* Space between the title and the "view all" */
    }
  
    .view {
      font-size: 12px; /* Smaller font size for "view all" */
      align-self: flex-end; /* Align "view all" to the right */
    }
  }
  


